* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Khmer OS Moulpali';
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

ul,
h1,
h2,
h3,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}